form{
    background-color: yellow;
    border: solid 2px black;
        text-align: center;
        width: 50%;
        margin-left: 25%;
}
h1{
    text-align: center;
}
.send{
    width: 100%;
    font-weight: bold;
}
p{
    font-weight: bold;
}
div{
    background-color: yellow;
    border: solid 2px black;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
label{
    text-align: center;
    font-weight: bold;
}