form{
        text-align: center;
}
h1{
    text-align: center;
}
.send{
    width: 100%;
    font-weight: bold;
}
p{
    font-weight: bold;
}
div{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}